@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  color: #fff;
  background: #1f1934;
}

main {
  height: 100vh;
  height: 100dvh;
}
